.bg-navbar {
  background-color: #00839e;
}

.navbar-title {
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

img {
  height: 23px;
}

.footer {
  background-color: #005f73;
  .imgEsquina {
    height: 23px;
    width: 138px;
  }
}

.nav-option {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}
